body {
    font-family: 'Arial Narrow';
    margin: 1px;
    background-color: #412199;
    color: #000000;
}

header {
    font-family: "poppins, cursive";
    background-color: #1a035c;
    color: #bdd9ff;
    text-align: center;
    padding: 20px;
}

nav {
    margin-top: 15px;
}

nav a {
    color: #fcfcfc;
    text-decoration: none;
    margin: 10px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    width: 80%;
    margin: 30px auto;
}

section {
    background-color: #39376b;
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    color: #8f98ff;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

footer {
    background-color: #1a035c;
    color: white;
    text-align: center;
    padding: 15px;
}